body, html {
    height: 100%;
    background-image: linear-gradient(rgb(0, 204, 255),white, rgb(0, 204, 255));
  }
  
  #palm {
    -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
    filter: invert(100%);
  }

  .showpost {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
  }

